<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JustDial Cleartrip Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Cleartrip App Test Cases">
		<classes>
			<class name="com.justdial.testcases.BookFlightTicketTest"></class>
			</classes>
	</test>
</suite>